body {
    background-color: #E6E6E6;
    width: 100%;
    margin: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.clear {
    clear: both;
}
#header {
    /*border: 1px solid #B8B8B8;*/
    width: 90%;
    margin: 0 auto;
}
#header h1 {
    font-size: 2em;
    color: #5C5C5C;
    margin: 10px 0 5px 8px
}
#container {
    background-color: #FFF;
    border: solid 1px #B8B8B8;
    width: 90%;
    min-height: 550px;
    margin: 0 auto;
}
#options {
    border-right: 1px solid #B8B8B8;
    width: 15%;
    min-width: 150px;
    height: 100%;
    float: left;
}
.optitle {
    display: block;
    padding: 10px
}
#options ul, a {
    padding: 0;
    display: block;
    color: #5C5C5C;
    text-decoration: none;
    list-style-type: none;
}
.optionSel, #options li:hover{
    background-color: #F2F2F2 !important;
}
#options li {
    background-color: #E6E6E6;
    font-size: 1.2em;
    text-align: left;
    padding-left: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: solid 1px #5C5C5c;
    width: 90%;
    overflow: hidden;
}
.smallHead {
    font-size: 1.5em;
}

/* Right Hand Side CSS*/


.rightWrapper {
    /*border: 1px solid;*/
    margin-left: 15%;
}
.pageHead {
    height: 30px;
    padding: 10px 40px 5px 40px;
}
#curPage {
    float: left;
}
#changePage {
    padding-top: 5px;
    float:right;
}

#pageElements {
    min-height: 100px
}
#addToolbar {
    border-top: solid 1px #ECECEC;
    padding: 10px;
    min-height: 50px;
}
.preloader {
    text-align: center;
    margin: 0 50%;
    padding: 50px 0 50px 0;
}
.itemContainer {
    padding: 2px 10px;
    margin: 5px 15px;
    cursor: grab;
    border: solid 2px #E6E6E6;
    border-radius: 6px;
    display: block;
}
.item {
    cursor: initial;
    width: 95%;
    display: inline-block
}
.toolbar{
    display: none;
    vertical-align: middle;
}
.itemContainer:hover {
    border: dotted 2px #E6E6E6;
    cursor: move;
}
.itemContainer:hover .toolbar{
    display: inline;
}
.toolbar:hover {
    cursor: pointer;
}
.itemContainer:active {
    cursor: move;
}

/* EVENTS CSS */
#eventForm {
    display: table-cell;
}
#eventForm input, select, textarea {
    border: 2px solid #CCC;
    border-radius: 4px;
    font-size: 1em;
}
#eventForm input:hover, select:hover, textarea:hover {
    border: 2px solid #B6EDB6;
    border-radius: 4px;
}
#eventForm input:focus, select:focus, textarea:focus {
    border: 2px solid #8DE28D;
    border-radius: 4px;
}
#eventForm #description {
    width: 50%;
}
#eventForm #time {
    width: 60px;
}
label, textarea, input[type="checkbox"] {
    vertical-align: middle;
}
#eventForm button {
    border: 2px solid #CCC;
    border-radius: 40px;
    font-size: 1em;
    padding: 4px 10px;
}
#eventForm button:hover {
    border: 2px solid #B6EDB6;
}
#eventForm button:active {
    border: 2px solid #B6EDB6;
    background: #B6EDB6;
}
.titleHead {
    border: 1px solid;
    margin: 0 auto;
}
.prev, .centerhead, .next{
    text-align: center;
    width: 33%;
    display:inline-block
}
#calRange {
    font-size: 1.3em;
}
.eventContainer {
    padding: 10px;
    display: block;
    border-bottom: 1px solid #CCC;
}
.toolbarDel {
    display: none;
    border: none;
    font-size: 1em;
    text-decoration: underline;
}
.eventContainer:hover{
    background-color: #f1f1f1;
}
.eventContainer:hover .toolbarBut{
    display: inline-block;
}
.eventItem {
    display:inline-block;
    width: 150px;
}
.eventName {
    width: 300px;
}
.eventToolbar {
    display: inline-block;
}
.toolbarBut {
    display: none;
    text-decoration: underline;
    border: none;
    margin-left: 40px;
    font-size: 1em;
}
.toolbarBut:hover {
    color: white;
    cursor: pointer;
}
.eventDes {
    padding-top: 20px;
    font-size: 0.8em;
}
.errorBorder {
    border: 1px solid red;
}
/* s */
#EPForm {
    display: table-cell;
    width: 100%;
}
input, select, textarea {
    border: 2px solid #CCC;
    border-radius: 4px;
    font-size: 1em;
}
input:hover, select:hover, textarea:hover {
    border: 2px solid #B6EDB6;
    border-radius: 4px;
}
input:focus, select:focus, textarea:focus {
    border: 2px solid #8DE28D;
    border-radius: 4px;
}
#EPForm #description {
    padding: 5px;
    width: 500px;
}
label, textarea, input[type="checkbox"] {
    vertical-align: middle;
}
button {
    border: 2px solid #CCC;
    border-radius: 40px;
    font-size: 1em;
    padding: 4px 10px;
}
button:hover {
    border: 2px solid #B6EDB6;
}
button:active {
    border: 2px solid #B6EDB6;
}
#blogForm textarea {
    width: 50%;
}