body {
    font-family: 'Open Sans',Frutiger,"Frutiger Linotype",Univers,Calibri,"Gill Sans","Gill Sans MT","Myriad Pro",Myriad,"DejaVu Sans Condensed","Liberation Sans","Nimbus Sans L",Tahoma,Geneva,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.calHead {
    border: 1px solid #5280a1;
    width: 448px;
}

#dayHead {
    border-width: 0 1px 0 1px;
    border-style: solid;
}

.calHeadItem {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 5px 0 5px 0;
}

.calDayItem {
    display: inline-block;
    width: 14.2%;
    text-align: center;
    margin: 5px 0 5px 0;
}

.calDays {
    height: 2rem;
}

table {
    /*border-spacing: 0.3rem;*/
    width: 450px;
    border: solid 1px #5280a1;
    border-radius: 0 0 8px 8px;

}

tr, td {
    color: #5280a1;
    text-align: center;
    font-size: 1em;
    height: 60px;
    border-radius: 30px;
    background-color: white;
}
td {
    width: 20px !important;
}
td:hover {
    background-color: rgb(246, 250, 253);
    cursor: pointer;
}
.invalidDay {
    background-color: #eee;
    border-radius: 5px;
}
.invalidDay:hover {
    background-color: #b0b0b0;
}
.curDay {
    border: solid 1px #99D7FF;
}
.eventTable {
    display: inline-block;
    margin: 0 0 0 10px;
    border: solid 1px;
    width: 400px;
}
.eventHeader {
    width: 100%;
}
.events {
    width: 100%;
    border: inherit
}
.eventDay {
    background-color: #B1E1FF;
}
.eventDay:hover {
    background-color: rgb(219, 238, 250);
}
.dateNum {
    vertical-align: top;
    text-align: left;
}
.eventCap {
    font-size: 0.8em;
    display: block;
}
.listSwitch {
    height:800px;
}
.radioCont {
    height: 40px;
}
/*input[type="radio"] {*/
/*display: none;*/
/*}*/
label {
    background-color: #dddddd;
    height: 30px;
    padding: 10px
}
#calFormLabel {
    border-radius: 10px 0 0 10px;
}
#listFormLabel {
    margin-left: -5px;
    border-radius: 0 10px 10px 0;
}

.radioCont input[type="radio"]{
    display: none;
}
.radioCont input[type="radio"]:checked + label {
    background-color: #eeeeee;
}
.listViewCont {
    width: 100%;
    text-align: center;
    border: 1px solid black;
}
.eventElement {
    width: 100%;
    padding: 4px 0 4px 0;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #aaaaaa;
}
.timeCont{
    display: inline-block;
    width: 30%;
}
.infoCont {
    display: inline-block;
    width: 70%;
}
.calendar-widget {
    /*     border: 1px solid; */
    padding: 30px;
    margin: 0 auto;
    width: 70%;
}
.calendar {
    display: inline-block;
}
#eventInfo {
    font-family: inherit;
    /*     display: inline-block; */
    /*     min-width: 200px; */
    width: 60%;
    position: relative;
    top: -30px;
    margin-left: 40px;
    float: left;
}
#calandSwitch {
    float:left;
}
.clear {
    clear: both;
}
#eventInfo h3 {
    font-size: 2em;
    color: #446ca9;
}
#eventInfo h4 {
    font-size: 1.5em;
    color: #446ca9;
    text-decoration: underline;
}
.infoType {
    font-style: italic;
}
#eventInfo p {
    font-size: 1.1em;
    color: #446ca9;
}
#prev, #next {
    cursor: pointer;
}